@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f9ce60;
  margin: 0;
}

.close-icon {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.add-icon {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 0;
}

.add-icon-home {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 20px;
}

.list {
  display: flex;
}

.list-name {
  font-weight: 400;
  padding: 0.7rem 1.6rem 0.7rem 1rem;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.list-name a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 0.2rem;
}

.lists-body-home {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists-body-home h2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
  margin-left: 5px;
}

.copyright {
  color: rgba(255, 255, 255, 0.55);
}

.copyright p {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.653);
  text-align: center;
}

/*List content*/

.nav-title {
  display: flex;
  flex-direction: row;
}

.nav-title i {
  font-size: 1.8rem;
  padding-top: 4px;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
  color: black;
}

.list-title {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
  margin-left: 5px;
}

.list-body {
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 10px;
}

.list-group {
  border-radius: 10px;
  
}

/*Modal*/

.modal-container {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  backdrop-filter: blur(3px);
}

.modal-body {
  width: 90%;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  width: 30%;
}

@media (max-width: 992px) {
  /* … */
}

@media (max-width: 768px) {
  /* … */
}

@media (max-width: 480px) {
  /* … */
}

@media (max-width: 320px) {
  .lists-body-home {
    margin-top: 0;
  }
}
